footer {
    background-color: #f4f5f7;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
    color: #666;
    bottom: 0;
    /*position: fixed;*/
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.logo img {
    height: 24px;
    margin-right: 10px;
}

.copyright {
    font-size: 12px;
}

@media (min-width: 768px) {
    .footer-content {
        flex-direction: row;
    }

    .logo {
        margin-bottom: 0;
    }
}
