.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    margin-right: 34px;
    margin-left: 34px;

}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin-bottom: 35px;
}

.default-table {
    background: #FFE9E8;
    border-radius: 30px;
    margin: 0 auto;
    max-width: 1300px;
    overflow: auto;
}

.mat-mdc-table {
    background-color: transparent;
    color: white;
}

.paginator {
    margin-right: 65px;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

.delete-json-button {
    background-color: #EB3738 !important;
    color: white !important;
    border-radius: 12px !important;
}